
.sign__in {


&--google {
  color: white;
  background: #4c8bf5;
  max-width: 400px;
  margin: 2rem auto;
  border-radius: 30px;
}


&--phone {
    height: 35px;
    width: 20rem;
    outline: cornflowerblue;
    margin-bottom: 10px;
   
   

}
}