.media__label {
  color: white;  
  width: 150px;
  padding: 10px;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 10px;
  margin:  auto;
  margin-top: 7rem;
  cursor: pointer;

}

.media__input {
  display: none;
}

